.footer-bg {
    background-color: var(--cor-4);
}

.footer {
    padding: 48px 0px;
}

.footer p {
    color: var(--cor-1);
}

@media (max-width: 1000px) {
    .footer {
        padding: 20px 40px;
    }
}