.header-bg {
    background-color: var(--cor-4);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 48px 0px;
}

.header img {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .header img {
        max-width: 100px;
    }
    
    .header {
        padding: 20px 40px;
    }
}