.main-bg {
    background-color: var(--cor-4);
    color: var(--cor-0);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.main-botoes {
    display: flex;
    align-items: center;
}

.main-botoes form {
    display: flex;
    gap: 10px;
} 

.main-botao {
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 16px;
}

.main-botoes input {
    outline: none;
    max-width: 150px;
    color: var(--cor-1);
    background-color: var(--cor-3);
    font-weight: 600;
    padding: 10px 25px 10px 55px;
}

.input-div {
    position: relative;
}

.main-botoes input::placeholder {
    color: var(--cor-2);
    opacity: 1;
}

.main-botoes .input-div::before {
    content: "US$";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-1);
    font-weight: 600;
}

.main-botoes button {
    text-transform: uppercase;
    color: var(--cor-p0);
    background-color: var(--cor-p1);
    font-weight: 700;
    box-shadow: 0px 0px 4px 2px #0f3d3e48;
    cursor: pointer;
}

.main-preco {
    display: flex;
    gap: 20px;
}

.preco-especifico {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    padding: 20px;
    background-color: var(--cor-3);
    border-radius: 16px;
    box-shadow: 0px 0px 4px 2px #1e1e1e2f;
}

.preco-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preco-titulo h4 {
    color: var(--cor-1);
    font-size: 18px;
    font-weight: 500;
}

.preco-especifico h2 {
    font-size: 96px;
    font-weight: 400;
}

.preco-informacoes {
    display: flex;
    gap: 40px;
}

.informacao p {
    color: var(--cor-p0);
    font-weight: 800;
}

.informacao span {
    color: var(--cor-1);
    font-weight: 400;
}

@media (max-width: 1000px) {
    .main {
        padding: 0 40px;
    }
    .main-preco {
        flex-direction: column;
    }

    .preco-especifico h2 {
        font-size: 48px;
    }
}